* {
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    
}

.background-div{
    display: flex;
    height: 100%;
    position: relative;
}

.left{
    flex:1;
    background-color: #1e40af;
    

}

.right{
    flex:1;
    background-color: #9f1239;
}

.left-active{
    flex: 1;
    background-color: #67e8f9;
}

.right-active{
    flex: 1;
    background-color: #f43f5e;
}

.game-grid{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    width: 350px; /* Need a specific value to work */
    height: 350px;
    gap: 25px;
    padding: 25px;
    background-color: #e7e5e4;
    box-shadow:  0px 0px 18px -3px black;
    border-radius: 5%;
}

.grid-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f4;
    box-shadow: 0px 0px 12px -4px #a8a29e;
    border-radius: 10%;
    font-size: 30px;
}

.three-in-a-row{
    background-color: #4ade80!important;
}

@media only screen and (max-width: 600px) {
    .game-grid{
        width: 250px; /* Need a specific value to work */
        height: 250px;
        gap: 15px;
        padding: 15px;
    }
  }